.text-decoration {
    text-decoration: none;
    }

.img pequena {
    width: 60px;
    height: 60px;
    
}

.img pequenass {
    width: 60px;
    height: 60px;
    
}
      
      
      
      
      
      
      
      